<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings> <setting name="cacheEnabled" value="false" /> <setting name="jdbcTypeForNull" 
		value="NULL" /> </settings> -->
	<typeAliases>
		<typeAlias type="dataStruct.MemberVO" alias="member" />
		<typeAlias type="dataStruct.SaleVO" alias="sale"/>
		<typeAlias type="dataStruct.SalePictureVO" alias="salepicture"/>
		<typeAlias type="dataStruct.CarVO" alias="car"/>
		<typeAlias type="dataStruct.CommunityVO" alias="community"/>
		<typeAlias type="dataStruct.ReplyVO" alias="reply"/>
		<typeAlias type="dataStruct.ImageVO" alias="image"/>
	</typeAliases>
	<mappers>
		<!-- src부터 인식 -->
		<mapper resource="mapper/member.xml" />
		<mapper resource="mapper/sale.xml" />
		<mapper resource="mapper/search.xml" />
		<mapper resource="mapper/Community.xml" />
		<mapper resource="mapper/Reply.xml" />
		<mapper resource="mapper/fileUpload.xml" />
	</mappers>
</configuration>