<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="multi.android.gotcha">

    <permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:largeHeap="true"
        android:name=".member.login.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- 판매부분 액티비티-->
        <activity android:name=".sale.model_bmw"/>
        <activity android:name=".sale.model_bentz"/>
        <activity android:name=".sale.model_kia"/>
        <activity android:name=".sale.model_hyundai"/>
        <activity android:name=".sale.color_list" />
        <activity android:name=".sale.transmission_list" />
        <activity android:name=".sale.fuel_list" />
        <activity android:name=".sale.brand_list" />
        <activity android:name=".sale.car_regist" />
        <activity android:name=".sale.car_number"/>

        <activity android:name=".MainActivity" />
        <activity android:name=".member.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
    </application>

</manifest>